 body{
    background-color: #60a9ff;
    font-family: sans-serif;
    text-transform: uppercase; /*已解決:大寫字母*/
}

h2{
    color: grey;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 50px;
}
.center {
    display: table-cell;
    vertical-align: middle;
}
img{
    width: 150px;
    height: 100px;
/*Q1如何讓圖片置中*/
}
/*Q2如何讓三個方塊置中? Ans 在section加入text-align: center;*/
/*[done]-Q3如何讓三個方塊並列? Ans: display:inline-block,但不太確定是哪一層?section?or .block?*/
/*[done]-Q4如何讓三個方塊對齊高度? 1.justify-content: center; 2. vertical-align:middle;
}*/
/*[Done]-Q5如何讓裡面的圖片文字置中? Ans: text-align: centerr align-items: center;*/
/*Q6 如何調整三個方框內的直線分隔?*/
/*[Done]-Q7如何消除ul,li的縮排及原點? Ans: 消除原點:list-style:none; 消除ul, li縮排:padding-left: 0;*
/*Q8: section and each block的關係,及padding, margin關係*/
/*Q9 頁面尺寸縮小後, 沒有PWD響應式*/
/*Q10 頁面縮小時,無法從3 col變成1 col, 且背景無法從藍色變成框底白色*/
section{
    margin: auto;
    padding: 0;
    background-color: white;
    align-items: center;
    width: 980px;
    height: 600px;
    border-radius: 10px;
    text-align: center;
   
}
.block {
    display: inline-block;
    width: 300px;
    height: 500px;
    vertical-align:middle;
    justify-content: center;
    text-align: center;
    align-items: center;
}

.block_left{
}
.block_center{
    border-right: 1px solid #60a9ff;
    border-left: 1px solid #60a9ff;
}
/*position:relative;   
     align-items: center
     justify-content: center;
     */
li{
    font-size: 18px;
    padding: 10px;
    line-height: 1.5em;
    color: #60a9ff;
    padding-left: 0;
    list-style:none;
}
ul{
    padding-left: 0;
}

.price_pattern_row1 {
    text-align: center;
    border-top: 1px solid  #60a9ff;
    border-bottom: 1px solid  #60a9ff;
    
}

.price_pattern_row2 {
    text-align: center;
    border-bottom: 1px solid  #60a9ff;
    list-style:none;
}

.price {
    font-weight: bold;
    color: #60a9ff;
    font-size:40px;
    postion: relative;
}

button{
    text-transform: uppercase;
    font-size: 26px;
    border-radius: 5px;
    border: 1px solid  #60a9ff;
    color:  #60a9ff;
    background: white;
    padding: 10px 20px 10px 20px;
position: realtive;
}